@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@model HNBMG.Models.Pages.InfoPage
@{ Layout = "~/Views/Shared/_Layout1.cshtml"; }
<div class=" container">
    <div class=" row">
        <div class="footwear">
            <p class="wear"><a href="https://hnbmg.com/c/footwear">FOOTWEAR</a><strong></strong></p>
            <div class="textone"><p><strong>Vans x The Simpsons tung hàng loạt cực phẩm siêu cưng, nhìn thôi đã muốn “gói mang về”</strong></p></div>
            <p class="name"><a href=" https://hnbmg.com/vans-x-the-simpsons-tung-hang-loat-cuc-pham-sieu-cung-nhin-thoi-da-muon-goi-mang-ve-69667.html">2 TUẦN TRƯỚC  .</a></p>
            <p class="nameone"><a href=" https://hnbmg.com/author/baole1410">BẢO LÊ</a></p>
        </div>
    </div>
</div>
<div class="mainbody clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-8" style="margin-left:55px;margin-top:50px;height:auto;">
                @Html.PropertyFor(m => m.MainBody)
            </div>
        </div>
    </div>
</div>
<div class="mainbody clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-1" style="margin-left:190px;margin-top:-85px;height:30px;">
                @Html.PropertyFor(m => m.MainBody1)
            </div>
        </div>
    </div>
</div>
<div class=" container">
    <div class=" row">
        <div class="lineone" style="margin-top:30px;margin-bottom:20px;margin-left:150px;"></div>
    </div>
</div>
<div class="mainbody clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="margin-left:150px;height:135px;">
                @Html.PropertyFor(m => m.MainBody2)
            </div>
        </div>
    </div>
</div>
<div class=" container">
    <div class=" row">
        <div class="lineone" style="margin-bottom:40px;margin-left:150px;"></div>
    </div>
</div>
<div class="mainbody clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="margin-left:150px;height:200px;">
                @Html.PropertyFor(m => m.MainBody3)
            </div>
        </div>
    </div>
</div>
<div class="mainbody clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-8" style="margin-left:70px;margin-top:-150px;">
                @Html.PropertyFor(m => m.MainBody4)
            </div>
        </div>
    </div>
</div>
<div class=" container">
    <div class=" row">
        <div class="newsmore">
            <p><strong>Có thể bạn sẽ thích</strong> </p>
        </div>
        <div class="more"></div>
    </div>
</div>
<div class="mainbody clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-8" style="margin-left:60px;height:auto;margin-bottom:50px;">
                @Html.PropertyFor(m => m.MainBody5)
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3" style="margin-top:-2890px;margin-left:790px;">
                @Html.PropertyFor(m => m.MainBody6)
            </div>
        </div>
    </div>
</div>

